body {
  margin: 0;
  height: 100vh;
  background-color: #222;
  color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  text-align: center;
}

h1, h2 {
  margin: 10px 0;
}
